h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Roboto', sans-serif;
}

p,
li {
    color: #212529;
    line-height: 25px;
    font-size: 17px;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
}

h3 {
    display: block;
    background: linear-gradient(to right, #004e72 0%, #016796 33%, #006b97 66%, #00c5cd 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    font-size: 2rem;
}

h4 {
    display: block;
    background: linear-gradient(to right, #004e72 0%, #016796 33%, #006b97 66%, #00c5cd 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
}

h6 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
}

h6 span {
    text-transform: none;
    font-weight: 500;
}


/* Color of the links BEFORE scroll */

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}

.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: #23282dd9;
}

.hero-index {
    position: absolute;
    left: 8%;
    top: 30%;
    color: white;
    max-width: 50%;
}


/*servicios*/

.caja-servicios {
    max-width: 900px;
    border: solid 1px #d3d2d27d;
    -webkit-box-shadow: 0px 15px 29px 0px rgba(179, 177, 179, 1);
    -moz-box-shadow: 0px 15px 29px 0px rgba(179, 177, 179, 1);
    box-shadow: 0px 15px 29px 0px rgba(179, 177, 179, 1);
    text-align: center;
    border-radius: 4px;
}

.servicios {
    border-right: solid 1px #d3d2d2;
    padding: 1rem;
    color: #004e72;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    /* Firefox */
    -webkit-transition: 0.5s ease;
    /* Chrome - Safari */
    -o-transition: 0.5s ease;
    /* Opera */
}

.servicios:hover {
    background-color: #0d6efd;
    color: wheat;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    /* Firefox */
    -webkit-transform: scale(1.1);
    /* Chrome - Safari */
    -o-transform: scale(1.1);
    /* Opera */
    -ms-transform: scale(1.1);
    /* IE9 */
    border-radius: 4px;
}

.seccion {
    padding: 6rem 0;
}

.links a {
    color: #212529;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
}

.links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #004e72 0%, #016796 33%, #006b97 66%, #00c5cd 100%);
    transition: left .8s;
}

.links a:hover::after {
    left: 0;
}

.links a:hover {
    display: block;
    background: linear-gradient(to right, #004e72 0%, #016796 33%, #006b97 66%, #00c5cd 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.iconos {
    max-width: 80px;
    margin-bottom: 1rem;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
}

.pricing__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 0 1 330px;
}

.pricing__feature-list {
    text-align: left;
}

li.pricing__feature {
    font-size: 15px;
}

.pricing__action {
    color: inherit;
    border: none;
    background: none;
}

.pricing__action:focus {
    outline: none;
}

.pricing--sonam .pricing__item {
    margin: 1.5em;
    padding: 2em;
    cursor: default;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 15px 30px -10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.pricing--sonam .pricing__item:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.pricing--sonam .pricing__title {
    font-size: 1.5rem;
    width: 100%;
    margin: 0 0 0.25em;
    padding: 0 0 0.5em;
    color: #354454;
    /*  border-bottom: 3px solid rgb(27, 26, 28);*/
}

.pricing--sonam .pricing__price {
    color: #212529;
    font-size: 17px;
    font-weight: 500;
    padding: 1em 0 0.75em;
}

.pricing--sonam .pricing__sentence {
    font-weight: bold;
}

.pricing--sonam .pricing__feature-list {
    margin: 0;
    padding: 1em 1.25em 2em;
}

.pricing--sonam .pricing__action {
    font-weight: bold;
    margin-top: auto;
    padding: 0.75em 2em;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #0d6efd;
    transition: 0.3s;
    color: #0d6efd;
}

.pricing--sonam .pricing__action:hover,
.pricing--sonam .pricing__action:focus {
    background: #0d6efd;
    color: white;
}

.tarifas {
    background: url('../img/tarifas.jpg'), linear-gradient(to right, #004e72 0%, #016796 33%, #006b97 66%, #00c5cd 100%);
    padding: 6rem 0rem;
    background-size: cover;
    background-position: center;
}

.icono-contact {
    color: #004e72;
    font-size: 1.4rem;
}

footer {
    padding: 2rem 0rem;
    background: #004e72;
}

.icono-footer {
    color: #ffffffc4;
    font-size: 1.3rem;
    margin: 0px 3px;
}

.copyrigth {
    color: #ffffffc4;
    font-size: 15px;
    text-decoration: none;
}

.icono-footer:hover,
.copyrigth:hover {
    color: white
}

.banner {
    background-image: linear-gradient(#006b97, #0167961c), url(../img/banner.jpg);
    background-size: cover;
    /* background-position: center background-image: url('../img/fondo3.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 6rem;
}

.banner p {
    color: #ffffffc4;
    font-size: 1.5rem;
}

.navbar-dark {
    transition: all 0.5s ease;
}


/*seccion envios courier*/

.hero {
    background-image: linear-gradient(#1a1b1bc7, #009de61f), url(../img/fondo4.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.hero h2,
.hero-dos h2 {
    position: absolute;
    right: 15%;
    bottom: 26rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.hero-dos {
    background-image: linear-gradient(#1a1b1bc7, #009de61f), url(../img/fondo1.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}